.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.brand_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand_container div{
    /* flex: 1; */
    /* max-width: 150px; */
    /* min-width: 120px; */
    width: 150px;
    margin-top: 1rem;
}